<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- <input type="text" name="" value="" [(ngModel)]="playerName" placeholder="Player name">
  <br>
  <input type="text" name="" value="" [(ngModel)]="club" placeholder="Club">
  <br>
  <input type="text" name="" value="" [(ngModel)]="position" ng-model="list" placeholder="Position">
  <br>
  <input type="text" name="" value="" [(ngModel)]="jerseyno" placeholder="Jersey no.">
  <br>
  <input type="submit" name="" value="Submit" (click)="sendPlayer()">
  <br> -->
  <!-- <app-player [player]="player"></app-player> -->
  <!-- <input type="number" name="" value="" [(ngModel)]="marks" placeholder="Enter Marks">
  <input type="submit" name="" value="Submit" (click)="findGrade()">
  <app-grades [marks]="marks"></app-grades> -->

  <!-- <table>
    <tr>
      <td> Author Id </td>
      <td> Author Name </td>
      <td> Author Gender </td>
      <td> Marital Status </td>
    </tr>

    <tr *ngFor="let author of authors">
      <td> {{author.authorId}} </td>
      <td> {{author.authorName | gender : author.authorGender : author.maritalStatus | titlecase}} </td>
      <td> {{author.authorGender}} </td>
      <td> {{author.maritalStatus}} </td>

    </tr>


  </table> -->

  <app-test></app-test>
</div>


<router-outlet></router-outlet>
